.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.error-message {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  