<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Keep Notes</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Take a note</mat-panel-title>
  </mat-expansion-panel-header>
  <form>
    <mat-form-field>
      <input matInput placeholder="Title" name="title" [(ngModel)]="newNote.title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Text" name="text" [(ngModel)]="newNote.text"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNote()">Done</button>
  </form>
</mat-expansion-panel>
<div class="notes-container">
    <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start start">
    <mat-card *ngFor="let note of notes">
        <mat-card-content>
            <h3>{{ note.title }}</h3>
            <p>{{ note.text }}</p>
        </mat-card-content>
    </mat-card>
</div>
</div>
<div *ngIf="errMessage" class="error-message">{{ errMessage }}</div>